/*Autocomplete*/
*{
  box-sizing: border-box;
}
.autocomp{
    padding: 6px;
    margin: 3px;
    position: absolute; 
    top: 40px;
    left: 40px;
    width: 250px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 20px rgb(107, 0, 0);
  }
  .autocomp-items {
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomp-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomp-items div:hover {
    background-color: #e9e9e9;
  }
  .autocomp-active {
    cursor: pointer;
    background-color: red !important;
    color: #ffffff;
  }
  input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
  }