.korobka{
    position: absolute;
    left: 30%;
    width: 300px;
    height: 55px;
    border: black;
    border-radius: 15px;
    background-color: white;
    margin: 3px;
}
.knopka{
    color: red;
    position: absolute;
    top: 25px;
    left: 190px;
}