.korobka{
    position: absolute;
    left: 50px;
    top: 120px;
    height: 150px;
    border-radius: 15px;
    box-shadow: 0.7px solid #ff3d00;
}
blockquote{
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #8bc34a;
}
.knopka{
    color: red;
    position: absolute;
    top: 15px;
    right: -60px;
}
.txt{
    font-family: serif;
}
.photo{
    max-width: 405px;
}
.iconka{
    margin: 6px;
    max-width: 60px;
}
/* Centaur styles */
.centaur-cafe .tab-mine input[type="radio"]{
    display: none;
}
.centaur-cafe #opis, #reservacia, #menu{
    display: none;
    font-size: 18px;
    box-shadow: 1px 2px 6px black;
    padding: 15px 25px 15px 25px;
    border-radius: 4px;
    margin: 20px;
}
.centaur-cafe #opis-button:checked~#opis,
.centaur-cafe #reservation-button:checked~#reservacia,
.centaur-cafe #menu-button:checked~#menu {
  display: block;
}
.centaur-cafe .tab-mine .labels{
    display: inline-block;
    padding: 10px 5px;
    width: 120px;
    height: 30px;
    margin: 5px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.centaur-cafe .tab-mine .labels:hover{
    border: none;
    background-color: rgba(255, 217, 0, 0.671);
}
.centaur-cafe .tab-mine input[type="radio"]:checked+label {
    background-color: rgba(255, 217, 0, 0.671);
    border: 1px solid black;
}
.centaur-cafe .tab-mine li{
    padding: 7px 3px;
}
.centaur-cafe .tab-mine blockquote{
    margin: 20px 0;
    padding-left: 1.5rem;
    border-left: 5px solid #8bc34a;
}
.centaur-cafe #opis .txt{
    margin-top: 35px;
}
.centaur-cafe .stats{
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.centaur-cafe .stata{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border: 1px solid black;
    height: 23px;
    transition: all 0.6s;
}
.centaur-cafe .stat-shkala{
    width: 53.75%;
    background-color: #ffa726;
}
.centaur-cafe .stata:hover{
    transform: scale(1.15) translateX(25px);
    box-shadow: 3px 3px 10px;
}
.centaur-cafe #reservacia .txt{
    padding: 15px 4px;
}
.centaur-cafe .stat-content{
    font-family: serif;
}ы
/* Celentano styles */
.celentano-cafe .tab-mine label{
    display: inline-block;
    padding: 10px 5px;
    width: 120px;
    height: 30px;
    margin: 5px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.celentano-cafe .tab-mine input[type="radio"]{
    display: none;
    transition: 0.5s;
}
.celentano-cafe #opis, #reservacia, #menu{
    display: none;
    font-size: 19px;
    box-shadow: 1px 2px 6px black;
    padding: 15px 25px 15px 25px;
    border-radius: 4px;
    margin: 20px;
}
.celentano-cafe #opis-button:checked~#opis,
.celentano-cafe #menu-button:checked~#menu,
.celentano-cafe #reservation-button:checked~#reservacia{
    display: block;
}
.celentano-cafe .tab-mine label{
    display: inline-block;
    padding: 10px 5px;
    width: 120px;
    height: 30px;
    margin: 5px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.celentano-cafe .tab-mine label:hover{
    border: none;
    background-color: rgba(255, 217, 0, 0.671);
}
.celentano-cafe .tab-mine input[type="radio"]:checked+label{
    border: 1px solid black;
    background-color: rgba(255, 217, 0, 0.671);
}
.celentano-cafe  .stats{
    width: 400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.celentano-cafe  .stata{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    border: 1px solid black;
    height: 23px;
    transition: all 0.6s;
}
.celentano-cafe .stat-shkala{
    width: 57%;
    background-color: #ffa726;
}
.celentano-cafe  .stata:hover{
    transform: scale(1.15) translateX(25px);
    box-shadow: 3px 3px 10px;
}
.celentano-opis-photo {
    max-width: 350px;
}
.celentano-cafe #opis .txt{
    margin-top: 50px;
}
.celentano-cafe #menu #fotka{
    backdrop-filter: brightness(75%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    position: fixed;    
}
.celentano-cafe #menu #sama-fotka{
    max-width: 88%;
    max-height: 88%;
    border: 3px solid #f44336;
    border-radius: 10px;
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
}
.celentano-cafe #menu #fotka:target{
    display: block;
}
/*.celentano-cafe #menu .foto{
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 10px;
    max-height: 100%;
    max-width: 100%;
}*/
.celentano-cafe #menu .foto-off{
    height: 100%;
    width: 100%;
}
.bg-color{
    background-color: rgba(0, 0, 0, 0.5);
}
.card-image img{
    max-height: 180px;
}
.card-panel img{
    max-height: 400px;
}
.card-content{
    font-size: 13px;
    max-height: 125px;
}