.korobka{
    position: absolute;
    left: 150px;
    top: 70px;
    width: 400px;
    height: 150px;
    border: 2px outset red;
    border-radius: 15px;
    background-color: rgba(243, 219, 0, 0.89);
}
.knopka{
    color: red;
    position: absolute;
    top: 15px;
    right: -60px;
}
.txt{
    font-family: cursive;
}
.photo{
    max-width: 405px;
}
.iconka{
    margin: 6px;
    max-width: 60px;
}
