.bg-image-restaurant {
  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Darken image */
  filter: brightness(60%);

}

.bg-image-pizza {
  /* Add the blur effect */
  filter: blur(4px);
  -webkit-filter: blur(4px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Darken image */
  filter: brightness(65%);

}

.bg-image-dostavka {
  /* Add the blur effect */
  filter: blur(5px);
  -webkit-filter: blur(5px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Darken image */
  filter: brightness(65%);
}

/* Position text in the middle of the page/image */
.bg-text {
  font-weight: bold;
  border: 3px solid #ffcc80;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  background: rgba(63,81,181, 0.5);
} 
<<<<<<< HEAD
=======
.autocomplete {
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.Reservation-img{
    max-width: 100%;
    filter: brightness(80%);
    filter: blur(3px);
    -webkit-filter: blur(3px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.kartka{
    position: absolute;
    width: 200px;
    height: 200px;
    top: 35%;
    left: 65%;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
}
>>>>>>> 913036fae49b3d653336cfdde6f32f01b0b83c5d
.lef{
  width: 390px;
  height:300px;
}
.rec_title{
  font-size: 50px;
}
.rec1_text{
  font-size: 25px;
}

.btn-border{
  border: 1px solid black;
}

.butt a{
  display: inline-block;
  margin-bottom: 3%;
  width: 270px;
  border-radius: 50px;
  font-size: 14px;
  height: 50px;
  border: 1px solid black;
}

.card-content h6{
  font-size: 19px;
}

.product_price{
  font-size: 20px;
}
.card-action b{
  color: orange;
  font-size: 20px;
}


